In [1]:
import pandas as pd
x={'A':[1,2,3], 'B':[4,5,6]}
var=pd.DataFrame(x)
var

   A  B
0  1  4
1  2  5
2  3  6

##### To Perform _**Addition**_

In [10]:
var["C"]=var["A"]+ var["B"]
print(var)
print("-"*10)
var["C"]=var["A"]- var["B"]
print(var)
print("-"*10)
var["C"]=var["A"]* var["B"]
print(var)
print("-"*10)
var["C"]=var["A"]/ var["B"]
print(var)
print("-"*10)

   A  B  C
0  1  4  5
1  2  5  7
2  3  6  9
----------
   A  B  C
0  1  4 -3
1  2  5 -3
2  3  6 -3
----------
   A  B   C
0  1  4   4
1  2  5  10
2  3  6  18
----------
   A  B     C
0  1  4  0.25
1  2  5  0.40
2  3  6  0.50
----------

In [11]:
# check condition
var["<2"]=var["A"] < 2
var

   A  B     C     <2
0  1  4  0.25   True
1  2  5  0.40  False
2  3  6  0.50  False

In [12]:
# check condition
var[">= 2"]=var["A"] >= 2
var

   A  B     C     <2   >= 2
0  1  4  0.25   True  False
1  2  5  0.40  False   True
2  3  6  0.50  False   True