In [66]:
import pandas as pd
var={"A":[1,2,3],"B":[3,4,5],"C":[3,6,7]}
x=pd.DataFrame(var)
x

   A  B  C
0  1  3  3
1  2  4  6
2  3  5  7

In [67]:
# x.insert(1,'Z',var['A'])
# x

In [68]:
x.insert(2,'Z',[9,9,9])
x

   A  B  Z  C
0  1  3  9  3
1  2  4  9  6
2  3  5  9  7

In [69]:
x["Y"]=x["A"][1:2]
x

   A  B  Z  C    Y
0  1  3  9  3  NaN
1  2  4  9  6  2.0
2  3  5  9  7  NaN

In [70]:
x.pop('A')
x

   B  Z  C    Y
0  3  9  3  NaN
1  4  9  6  2.0
2  5  9  7  NaN

In [71]:
del x["Z"],x["Y"]
x

   B  C
0  3  3
1  4  6
2  5  7