### Pandas
>  _pannel data analysis_\
  -> use for
> - Data manupulation
>  - Data analysis

In [1]:
import numpy as np
import pandas as pd

In [3]:
# Object Creation
s=pd.Series([1,2,np.nan,3,4,5])
s

0    1.0
1    2.0
2    NaN
3    3.0
4    4.0
5    5.0
dtype: float64

In [7]:
dates=pd.date_range('20220101',periods=6)

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10', '2022-01-11'],
              dtype='datetime64[ns]', freq='D')

In [12]:
dates=pd.date_range('20220101',periods=6)
df=pd.DataFrame(np.random.randn(6,4),index=dates,columns=list("ABCD"))
df

                   A         B         C         D
2022-01-01  1.413868  0.398530  0.808857 -1.616968
2022-01-02  2.350190 -0.469907 -0.717189  1.269061
2022-01-03 -0.212911  0.505259 -0.139016 -0.652310
2022-01-04  0.753046 -1.512515  0.325610 -0.584921
2022-01-05  0.158616  0.968052 -0.950928  0.654336
2022-01-06 -0.264623  0.988564 -0.426094  0.533337