In [3]:
import pandas as pd
var1=pd.DataFrame({"A":[1,2,3],"B":[2,3,4]})
var2=pd.DataFrame({"A":[1,2,3],"C":[12,13,14]})
pd.merge(var1,var2)

   A  B   C
0  1  2  12
1  2  3  13
2  3  4  14

In [36]:
import pandas as pd
var1=pd.DataFrame({"A":[1,2,3],"B":[2,3,4]})
var2=pd.DataFrame({"A":[1,2,3],"C":[12,13,14]})
pd.merge(var2,var1,on="A")

   A   C  B
0  1  12  2
1  2  13  3
2  3  14  4

In [35]:
import pandas as pd
var1=pd.DataFrame({"A":[1,2,3],"B":[2,3,4]})
var2=pd.DataFrame({"A":[1,2,3],"B":[12,13,14]})
# pd.merge(var1,var2,how="inner")
#pd.merge(var1,var2,how="right")
#pd.merge(var1,var2,how="left")
pd.merge(var1,var2,how="outer",left_index=True,right_index=True,indicator=True,suffixes=("name","id"))

   Aname  Bname  Aid  Bid _merge
0      1      2    1   12   both
1      2      3    2   13   both
2      3      4    3   14   both

## concat

In [49]:
import pandas as pd
v1 = pd.Series([1,2,3,4,5])
v2 = pd.Series([1,2,7])
# pd.concat([v1,v2])
# pd.concat([v1,v2],axis=1)
# pd.concat([v1,v2],axis=1,join="outer") ## union
# pd.concat([v1,v2],axis=1,join="inner")  ## intercation
pd.concat([v1,v2],axis=1,join="inner",keys=['D1','D2'])

   D1  D2
0   1   1
1   2   2
2   3   7