# DataFrame data type
  * use two dimensional data

1. create from [list](#)

In [3]:
import pandas as pd
x=[1,2,3]
var=pd.DataFrame(x)
print(var)
print(type(var))

   0
0  1
1  2
2  3
<class 'pandas.core.frame.DataFrame'>

2. Create using [Dictionary](#)

In [9]:
d={'a':[1,2,3], 'b':[4,5,6], 'c':[7,8,9]}
var1=pd.DataFrame(d)
print(var1)

var2=pd.DataFrame(d,columns=['a','b'])
print(var2)

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9
   a  b
0  1  4
1  2  5
2  3  6

In [10]:
var2=pd.DataFrame(d,index=['1','11','111'])
print(var2)

     a  b  c
1    1  4  7
11   2  5  8
111  3  6  9

> ##### For printing specific value , let assume for 5:

In [11]:
print(var2['b'][1])

5

In [16]:
l=[[1,2,3],[4,5,6],[7,8,9]]
m=pd.DataFrame(l)
m

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [21]:
s={"a":pd.Series([1,6,2,3]),"b":pd.Series([8,3,2,1])}
n=pd.DataFrame(s)
n

   a  b
0  1  8
1  6  3
2  2  2
3  3  1