In [10]:
import pandas as pd
x=pd.DataFrame({'a':[1,2,3],'b':[1,3,4]})
x
y=pd.DataFrame({'c':[1,3,4],'d':[1,3,4]})
y

   c  d
0  1  1
1  3  3
2  4  4

In [12]:
# x.join(y)
x.join(y,how='outer')
# lsufix=_1,rsufix=_2 -->if it have same column index names

   a  b  c  d
0  1  1  1  1
1  2  3  3  3
2  3  4  4  4

In [13]:
x=pd.DataFrame({'a':[1,2,3],'b':[1,3,4]})
x
y=pd.DataFrame({'a':[1,3,4],'b':[1,3,4]})
y

   a  b
0  1  1
1  3  3
2  4  4

In [25]:
x.append(y)

C:\Program Files\KMSpico\temp\ipykernel_11320\2820922057.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  x.append(y)

   a  b
0  1  1
1  2  3
2  3  4
0  1  1
1  3  3
2  4  4